@import "./font.css";
@import "./table.css";
@import "./keyframes.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-hawkes-blue-600 text-white !important;
}

@layer utilities {
  .container-fluid {
    width: 100%;
    max-width: calc(100% - 2rem);
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .leading-0 {
    line-height: 0;
  }
  .transition-all-default {
    transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .animate-wiggle {
    @apply transition-all-default;
    animation: wiggle 0.2s;
  }

  .bg-white-blur {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
  }

  .trasnlate-x-center {
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-center {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }
}

hr {
  @apply mx-auto my-4 border-2 border-grayscale-800;
}

@layer utilities {
  .table tbody tr:nth-child(odd) td {
    @apply bg-baja-white-50;
  }
  .table tbody tr:first-child td {
    @apply border-t-0;
  }
}

a.link {
  @apply underline hover:text-grayscale-700 focus:text-grayscale-700;
}

html,
body {
  word-break: keep-all;
  font-family: "Pretendard-Regular", "Noto Sans Gothic", sans-serif;
  @apply text-grayscale-900 dark:text-grayscale-200;
}
html,
body {
}

a,
a:link,
button,
.btn,
label.btn,
input + label.btn,
label.btn > span.input-label,
&:focus,
&:active {
  &:hover {
    cursor: pointer;
  }
}
