@import "./font.css";
@import "./table.css";
@import "./keyframes.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-hawkes-blue-600 text-white !important;
}

hr {
  @apply mx-auto my-4 border-grayscale-800;
}

a.link {
  @apply underline hover:text-grayscale-700 focus:text-grayscale-700;
}

html,
body,
pre {
  word-break: break-all;
  text-wrap: pretty;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.08rem;
  @apply text-grayscale-900 dark:text-grayscale-200;
}

a,
a:link,
button,
.btn,
label.btn,
input + label.btn,
label.btn > span.input-label,
&:focus,
&:active {
  &:hover {
    cursor: pointer;
  }
}
